<body>
<button class = "btn btn-dark" style = "     margin-top: 1px; margin-right: 2px;
position:absolute; top : 0; right: 15px;" routerLink = "/home" routerLinkActive = "active">Home</button>
<div class = "container-fluid">
    <form  #userForm = "ngForm" (ngSubmit) = "onSubmit()" novalidate>
        <p class="h4 mb-4">Sign up</p>
      <!-- <div class = "form-group">
        <label><b>First name : </b></label>
        <input required #firstName = "ngModel" [class.is-invalid] = "firstName.invalid && firstName.touched" name = "firstName" type = "text" class = "form-control" [(ngModel)] = "userModel.firstName" placeholder="Enter first name">
        <small style = "color : red" [class.d-none] = "firstName.valid || firstName.untouched">First name is required</small>
      </div>
      <div class = "form-group">
        <label><b>Last name : </b></label>
        <input required #lastName = "ngModel" [class.is-invalid] = "lastName.invalid && lastName.touched" name = "lastName" type = "text" class = "form-control" [(ngModel)] = "userModel.lastName" placeholder="Enter last name">
        <small style = "color : red" [class.d-none] = "lastName.valid || lastName.untouched">Last name is required</small>
      </div>
       -->
      <div class = "form-group">
        <label><b>Email : </b></label>
        <input required #email = "ngModel" [class.is-invalid] = "email.invalid && email.touched" pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name = "email" type = "email" class = "form-control" [(ngModel)] = "userModel.email" placeholder="Enter email">
        <div *ngIf = "email.errors && (email.invalid || email.touched)">
          <small style = "color : red" *ngIf = "email.errors.required && email.touched">Email is required</small>
          <small style = "color : red" *ngIf = "email.errors.pattern && email.touched">Invalid email</small>
        </div>
      </div>
      <div class = "form-group">
        <label><b>Password : </b></label>
        <input required #password = "ngModel" pattern = "(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" name = "password" type = "password" class = "form-control" [(ngModel)] = "userModel.password"
        placeholder="Should be at least 8 characters in length and must contain a lowercase, an uppercase letter, a digit and a special character">
        <div *ngIf = "password.errors && (password.invalid || password.touched)">
          <small style = "color : red" *ngIf = "password.errors.required && password.touched">Password is required</small>
          <small style = "color : red" *ngIf = "password.errors.pattern && password.touched">Password must be at least 8 characters in length and must contain a lowercase, an uppercase letter, a digit and a special character</small>
        </div>
      </div>
      <div class = "form-group">
        <label><b>Confirm password : </b></label>
        <input required #confirm_password = "ngModel" name = "confirm_password" type = "password" class = "form-control" [(ngModel)] = "userModel.confirm_password"
        placeholder="Must be same as above">
        <div *ngIf = "userModel.password != userModel.confirm_password">
          <small style = "color : red" *ngIf = "confirm_password.touched">Must be same as above</small>
        </div>
      </div>
      <div>
        <button [disabled] = "userForm.form.invalid" class = "btn btn-success">Register</button>
      </div>
      <hr>
      <div>
        <label><b>Already have an account?</b></label>
        <button style = "margin-left : 10px" class = "btn btn-success" routerLink = "/login" routerLinkActive = "active">Sign in</button>
      </div>
    </form>
</div>
<nav class="navbar navbar-expand-md bg-success navbar-dark fixed-bottom">
  <a class="navbar-brand">Project hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a style = "margin-left: 10px;" class="nav-link" routerLink = "/login" routerLinkActive = "active">Sign in</a>
          </li>
          <li class="nav-item">
              <a style = "margin-left: 10px;" class="nav-link"  routerLink = "/register" routerLinkActive = "active">Sign up</a>
          </li>  
           <li class = "nav-item"> 
              <a href="https://www.facebook.com" class="fa fa-facebook"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.twitter.com" class="fa fa-twitter"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.google.com" class="fa fa-google"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.youtube.com" class="fa fa-youtube"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.instagram.com" class="fa fa-instagram"></a>
          </li>
      </ul>
  </div>
</nav>
</body>