<body>
<div class = "container-fluid">
  <button class = "btn btn-dark" style = " margin-top: 1px; margin-right: 2px;
  position:absolute; top : 0; right: 15px;" routerLink = "/home" routerLinkActive = "active">Home</button>
    <form #userForm="ngForm" (ngSubmit) = "onSubmit()" novalidate>
        <p class="h4 mb-4">Sign in</p>
          <div class = "form-group">
            <label><b>Email : </b></label>
            <input required #email = "ngModel" name = "email" type = "email" class = "form-control" [(ngModel)] = "userModel.email" placeholder="Enter email">
          </div>
          <div class = "form-group">
            <label><b>Password : </b></label>
            <input required #password = "ngModel" name = "password" type = "password" class = "form-control" [(ngModel)] = "userModel.password">
          </div>
          <!-- <div class = "form-check mb-3">
            <input name = "subscribe" class = "form-check-input" type = "checkbox" [(ngModel)] = "userModel.subscribe">
            <label class = "form-check-label" style = "margin-left: 1px">
              <b>Subscribe</b>
            </label>
            <a style = "margin-left: 20px" routerLink = "/login" routerLinkActive = "active"><b>Forgot password?</b></a>
          </div> -->
          <div class = "form-group">
            <button [disabled] = "userForm.form.invalid" class = "btn btn-success">Login</button>
          </div>
          <hr>
        <div class = "form-group">
            <label><b>Don't have an account yet?</b></label>
            <button style = "margin-left: 10px" class = "btn btn-success" routerLink = "/register" routerLinkActive = "active">Sign up</button>
        </div>
    </form>
</div>
<nav class="navbar navbar-expand-md bg-success navbar-dark fixed-bottom">
  <a class="navbar-brand">Project hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a style = "margin-left: 10px;" class="nav-link" routerLink = "/login" routerLinkActive = "active">Sign in</a>
          </li>
          <li class="nav-item">
              <a style = "margin-left: 10px;" class="nav-link"  routerLink = "/register" routerLinkActive = "active">Sign up</a>
          </li>  
           <li class = "nav-item"> 
              <a href="https://www.facebook.com" class="fa fa-facebook"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.twitter.com" class="fa fa-twitter"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.google.com" class="fa fa-google"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.youtube.com" class="fa fa-youtube"></a>
          </li>
          <li class = "nav-item">
              <a href="https://www.instagram.com" class="fa fa-instagram"></a>
          </li>
      </ul>
  </div>
</nav>
</body>
