<body>
  <div class = "container">
    <form style = "text-align: center; display: inline-block; margin-top: 0px; height: 200px;" class="bg-success fixed-top">
        <input style = "margin-top: 20px;" [(ngModel)] = "address" name = "address" class = "form-control mr-sm-2" type="text" placeholder="Enter city/locality to search for hotel">  
        <button (click) = "navigate()" style = "margin-top: 10px;" class="btn btn-dark" type="submit"><a>Search</a></button>
        <ul style="text-align: center; margin-top: 50px;">
        <li routerLink = "/news" routerLinkActive = "active" type="submit"class = "btn btn-dark" style = "text-decoration-color: ivory; ">
              Latest news
        </li>
        <li routerLink = "/food" routerLinkActive = "active" type="submit" class = "btn btn-dark" style = "text-decoration-color: ivory; margin-left: 20px;">
              Order food
        </li>
        </ul>
    </form>
   <div style = "left: 0; margin-top: 200px;">
     <h1 class="bg-secondary text-white" style = "margin-left: 0px;margin-bottom: 50px;">Some interesting facts about hotels</h1>
     <ul style = "left: 0; margin-bottom: 50px;">
       <li style = "left: 0; margin-bottom: 50px;" class="bg-dark text-white">The “Sky Beam” that shoots out of the Luxor Hotel in Las Vegas
       attracts so many insects that it has established a new ecosystem of moths, bats, and owls
       </li>
     <li style = "left: 0; margin-bottom: 50px;" class="bg-dark text-white">The oldest hotel in the world has been operated by the same Japanese
         family for over 1,300 years. 52 different generations of descendants have
         cared for and operated the inn
     </li>
       <li style = "left: 0; margin-bottom: 50px;" class="bg-dark text-white">When the historic Plaza Hotel in NYC opened in 1907 a room cost $2.50 per
          night, the equivalent of $64.26 today. The Plaza now charges over $1000/night
       </li>
      
       <li style = "left: 0; margin-bottom: 50px;" class="bg-dark text-white">Hotels use RFID chips to track their towels and linens. One hotel in Hawaii 
         saved over $15000 in stolen towels using the RFID chips
       </li>
    
       <li style = "left: 0; margin-bottom: 50px;" class="bg-dark text-white">Half-used hotel soap is sterilized, melted down, and reformed and sent to poorer
          countries with scarce hygiene resources
       </li>
     
     </ul>
   </div>
   <nav class="navbar navbar-expand-md bg-success navbar-dark fixed-bottom" style="margin-left: 0px;">
     <a class="navbar-brand">Project hotel</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">
         <ul class="navbar-nav">
             <li class="nav-item">
                 <a style = "margin-left: 10px;" class="nav-link" routerLink = "/login" routerLinkActive = "active">Sign in</a>
             </li>
             <li class="nav-item">
                 <a style = "margin-left: 10px;" class="nav-link"  routerLink = "/register" routerLinkActive = "active">Sign up</a>
             </li>  
         </ul>
     </div>
   </nav>
 </div>
</body>

